In [1]:
import pandas as pd
from pandas.api.types import infer_dtype
import os

This is needed so we can assign dtype to each column

When we are importing csv file, datetime will convert into object(string) dtype so we will our dates as object

In [2]:
dtype_dict = {'[QUOTE_UNIXTIME]': 'int64',
             ' [QUOTE_READTIME]': 'object',
             ' [QUOTE_DATE]': 'object',
             ' [QUOTE_TIME_HOURS]': 'float64',
             ' [UNDERLYING_LAST]': 'float64',
             ' [EXPIRE_DATE]': 'object',
             ' [EXPIRE_UNIX]': 'int64',
             ' [DTE]': 'float64',
             ' [C_DELTA]': 'float64',
             ' [C_GAMMA]': 'float64',
             ' [C_VEGA]': 'float64',
             ' [C_THETA]': 'float64',
             ' [C_RHO]': 'float64',
             ' [C_IV]': 'float64',
             ' [C_VOLUME]': 'float64',
             ' [C_LAST]': 'float64',
             ' [C_SIZE]': 'object',
             ' [C_BID]': 'float64',
             ' [C_ASK]': 'float64',
             ' [STRIKE]': 'float64',
             ' [P_BID]': 'float64',
             ' [P_ASK]': 'float64',
             ' [P_SIZE]': 'object',
             ' [P_LAST]': 'float64',
             ' [P_DELTA]': 'float64',
             ' [P_GAMMA]': 'float64',
             ' [P_VEGA]': 'float64',
             ' [P_THETA]': 'float64',
             ' [P_RHO]': 'float64', 
             ' [P_IV]': 'float64',
             ' [P_VOLUME]': 'float64',
             ' [STRIKE_DISTANCE]': 'float64', 
             ' [STRIKE_DISTANCE_PCT]': 'float64' 
             }

In [3]:
# Collects data from each file, make it into df and combine it all together into one
def read_csv_and_store(dir_path):
    list_of_dataframes = []
    for path in os.listdir(dir_path):
        # Checking if the item contained in the folder is a file or another folder
        if os.path.isfile(os.path.join(dir_path, path)):
            dataframe = pd.read_csv(os.path.join(dir_path, path))
            dataframe = dataframe.replace(' ', 0)
            dataframe = dataframe.astype(dtype_dict)
            list_of_dataframes.append(dataframe)
            
    dataframe = list_of_dataframes[0]
    # Skips the first index since the first dataframe is already inside
    for dataframe_index in range(1, len(list_of_dataframes)):
        dataframe = pd.concat([dataframe, list_of_dataframes[dataframe_index]])    
        
    dataframe = dataframe.reset_index(drop = True)     
    return dataframe

In [4]:
aapl_2017_path = 'C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\AAPL_options_data\\AAPL_2017'
aapl_2018_path = 'C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\AAPL_options_data\\AAPL_2018'
aapl_2019_path = 'C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\AAPL_options_data\\AAPL_2019'
aapl_2020_path = 'C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\AAPL_options_data\\AAPL_2020'

we have converted dtype of each column after importing csv file so we can ignore the warnings

In [5]:
aapl_2017_df = read_csv_and_store(aapl_2017_path)
aapl_2018_df = read_csv_and_store(aapl_2018_path)
aapl_2019_df = read_csv_and_store(aapl_2019_path)
aapl_2020_df = read_csv_and_store(aapl_2020_path)

<ipython-input-5-64f1701ab0d7>:3: DtypeWarning: Columns (13,14,29) have mixed types.Specify dtype option on import or set low_memory=False.
  aapl_2019_df = read_csv_and_store(aapl_2019_path)
<ipython-input-5-64f1701ab0d7>:3: DtypeWarning: Columns (15,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  aapl_2019_df = read_csv_and_store(aapl_2019_path)
<ipython-input-5-64f1701ab0d7>:4: DtypeWarning: Columns (8,9,10,11,12,20,21,23,24,25,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  aapl_2020_df = read_csv_and_store(aapl_2020_path)
<ipython-input-5-64f1701ab0d7>:4: DtypeWarning: Columns (20,21,23) have mixed types.Specify dtype option on import or set low_memory=False.
  aapl_2020_df = read_csv_and_store(aapl_2020_path)
<ipython-input-5-64f1701ab0d7>:4: DtypeWarning: Columns (15,17,18) have mixed types.Specify dtype option on import or set low_memory=False.
  aapl_2020_df = read_csv_and_store(aapl_2020_path)

checking if there is any mixed datatype
- mixed dtype: column that contains more than one dtype ex.list, string, int, ...

In [6]:
aapl_2017_df

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00095,0.00014,0.00038,-0.00405,-0.00025,1.58978,0.0,46.1,0.397
1,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00122,0.00026,0.00046,-0.00440,-0.00024,1.38560,0.0,41.1,0.354
2,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00091,0.00032,0.00030,-0.00450,0.00000,1.19418,0.0,36.1,0.311
3,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00108,0.00041,0.00093,-0.00437,0.00000,1.01208,0.0,31.1,0.268
4,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00211,0.00053,0.00059,-0.00396,-0.00016,0.83962,0.0,26.1,0.225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187020,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.28776,0.00564,...,0.0,-0.76939,0.00541,0.71329,-0.00970,-2.63118,0.19795,0.0,50.8,0.300
187021,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.25815,0.00518,...,0.0,-0.82036,0.00414,0.59647,-0.00748,-2.47375,0.18841,0.0,60.8,0.359
187022,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.21359,0.00479,...,0.0,-0.84865,0.00270,0.51046,-0.00593,-2.19280,0.18552,0.0,70.8,0.418
187023,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.17543,0.00438,...,0.0,-0.85865,0.00155,0.46558,-0.00554,-1.90952,0.19003,0.0,80.8,0.477
187024,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.15585,0.00388,...,0.0,-1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,90.8,0.536

In [7]:
mixed_count = 0
for i in aapl_2017_df.columns.tolist():
    dtype = infer_dtype(aapl_2017_df[i])
    print(i, ':', dtype)
    if 'mixed' in dtype:
        mixed_count+=1
print('mixed_count:', mixed_count)

[QUOTE_UNIXTIME] : integer
 [QUOTE_READTIME] : string
 [QUOTE_DATE] : string
 [QUOTE_TIME_HOURS] : floating
 [UNDERLYING_LAST] : floating
 [EXPIRE_DATE] : string
 [EXPIRE_UNIX] : integer
 [DTE] : floating
 [C_DELTA] : floating
 [C_GAMMA] : floating
 [C_VEGA] : floating
 [C_THETA] : floating
 [C_RHO] : floating
 [C_IV] : floating
 [C_VOLUME] : floating
 [C_LAST] : floating
 [C_SIZE] : string
 [C_BID] : floating
 [C_ASK] : floating
 [STRIKE] : floating
 [P_BID] : floating
 [P_ASK] : floating
 [P_SIZE] : string
 [P_LAST] : floating
 [P_DELTA] : floating
 [P_GAMMA] : floating
 [P_VEGA] : floating
 [P_THETA] : floating
 [P_RHO] : floating
 [P_IV] : floating
 [P_VOLUME] : floating
 [STRIKE_DISTANCE] : floating
 [STRIKE_DISTANCE_PCT] : floating
mixed_count: 0

In [8]:
aapl_2017_df

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00095,0.00014,0.00038,-0.00405,-0.00025,1.58978,0.0,46.1,0.397
1,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00122,0.00026,0.00046,-0.00440,-0.00024,1.38560,0.0,41.1,0.354
2,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00091,0.00032,0.00030,-0.00450,0.00000,1.19418,0.0,36.1,0.311
3,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00108,0.00041,0.00093,-0.00437,0.00000,1.01208,0.0,31.1,0.268
4,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.0,1.00000,0.00000,...,0.0,-0.00211,0.00053,0.00059,-0.00396,-0.00016,0.83962,0.0,26.1,0.225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
187020,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.28776,0.00564,...,0.0,-0.76939,0.00541,0.71329,-0.00970,-2.63118,0.19795,0.0,50.8,0.300
187021,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.25815,0.00518,...,0.0,-0.82036,0.00414,0.59647,-0.00748,-2.47375,0.18841,0.0,60.8,0.359
187022,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.21359,0.00479,...,0.0,-0.84865,0.00270,0.51046,-0.00593,-2.19280,0.18552,0.0,70.8,0.418
187023,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.17543,0.00438,...,0.0,-0.85865,0.00155,0.46558,-0.00554,-1.90952,0.19003,0.0,80.8,0.477
187024,1514581200,2017-12-29 16:00,2017-12-29,16.0,169.23,2020-01-17,1579294800,749.0,0.15585,0.00388,...,0.0,-1.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.0,90.8,0.536

In [ ]:
aapl_2018_df

In [ ]:
aapl_2019_df

In [ ]:
aapl_2020_df

checking for any duplicated rows

In [ ]:
print('aapl_2017_df_dupe:', aapl_2017_df.duplicated().sum())

We do not have to check for any missing values because we have replaced all empty values with 0 when importing data

just to make sure we will double check

In [ ]:
def find_missing_value(list_column_names, dataframe):
    for column_index in range(len(list_column_names)):
        count = 0
        for df_row_index in range(len(dataframe)): 
            if dataframe[list_column_names[column_index]][df_row_index] == ' ':
                count += 1
        print(list_column_names[column_index] + ': '+ str(count))

In [ ]:
# all df shares the same column name so it doesnt matter which df we pick to collect column name
list_column_names = aapl_2019_df.columns.tolist()

In [ ]:
find_missing_value(list_column_names, aapl_2017_df)

In [ ]:
find_missing_value(list_column_names, aapl_2018_df)

In [ ]:
find_missing_value(list_column_names, aapl_2019_df)

In [ ]:
find_missing_value(list_column_names, aapl_2020_df)

In [ ]:
aapl_2017_df.columns.tolist()

changing the dtype of `QUOTE_DATE` so we can sort the df by quote_date

In [9]:
aapl_2017_df[' [QUOTE_DATE]']= pd.to_datetime(aapl_2017_df[' [QUOTE_DATE]'])
aapl_2018_df[' [QUOTE_DATE]']= pd.to_datetime(aapl_2018_df[' [QUOTE_DATE]'])
aapl_2019_df[' [QUOTE_DATE]']= pd.to_datetime(aapl_2019_df[' [QUOTE_DATE]'])
aapl_2020_df[' [QUOTE_DATE]']= pd.to_datetime(aapl_2020_df[' [QUOTE_DATE]'])

In [10]:
aapl_2017_df = aapl_2017_df.sort_values(by=" [QUOTE_DATE]")
aapl_2018_df = aapl_2018_df.sort_values(by=" [QUOTE_DATE]")
aapl_2019_df = aapl_2019_df.sort_values(by=" [QUOTE_DATE]")
aapl_2020_df = aapl_2020_df.sort_values(by=" [QUOTE_DATE]")

In [11]:
aapl_df_list = [aapl_2017_df, aapl_2018_df, aapl_2019_df, aapl_2020_df]
# combines the df that is contained in the list into one df 
def df_concat(list_of_df):
    output = list_of_df[0]
    #skips the first index since its already added
    for df in range(1, len(list_of_df)):
        output = pd.concat([output, list_of_df[df]]) 
    output = output.reset_index(drop = True)
    return output

In [12]:
aapl_df = df_concat(aapl_df_list)
aapl_df

,[QUOTE_UNIXTIME],[QUOTE_READTIME],[QUOTE_DATE],[QUOTE_TIME_HOURS],[UNDERLYING_LAST],[EXPIRE_DATE],[EXPIRE_UNIX],[DTE],[C_DELTA],[C_GAMMA],...,[P_LAST],[P_DELTA],[P_GAMMA],[P_VEGA],[P_THETA],[P_RHO],[P_IV],[P_VOLUME],[STRIKE_DISTANCE],[STRIKE_DISTANCE_PCT]
0,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-01-06,1483736400,3.00,1.00000,0.00000,...,0.00,-0.00095,0.00014,0.00038,-0.00405,-0.00025,1.58978,0.0,46.1,0.397
1,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-06-16,1497643200,163.96,1.00000,0.00000,...,0.00,-0.00272,0.00022,0.00677,-0.00090,-0.00175,0.41986,0.0,61.1,0.526
2,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-06-16,1497643200,163.96,1.00000,0.00000,...,0.05,-0.00534,0.00047,0.01165,-0.00175,-0.00333,0.40007,200.0,56.1,0.483
3,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-06-16,1497643200,163.96,1.00000,0.00000,...,0.12,-0.00775,0.00070,0.01646,-0.00229,-0.00456,0.37233,0.0,51.1,0.440
4,1483477200,2017-01-03 16:00,2017-01-03,16.0,116.14,2017-06-16,1497643200,163.96,1.00000,0.00000,...,0.18,-0.01377,0.00122,0.02675,-0.00258,-0.00806,0.35499,0.0,46.1,0.397
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
859908,1609448400,2020-12-31 16:00,2020-12-31,16.0,132.60,2021-01-29,1611954000,29.00,0.01973,0.00214,...,0.00,-1.00000,0.00000,0.40359,0.00000,0.00000,0.00000,0.0,57.4,0.433
859909,1609448400,2020-12-31 16:00,2020-12-31,16.0,132.60,2021-01-29,1611954000,29.00,0.02329,0.00262,...,0.00,-1.00000,0.00000,0.40395,0.00000,0.00000,0.00000,0.0,52.4,0.395
859910,1609448400,2020-12-31 16:00,2020-12-31,16.0,132.60,2021-01-29,1611954000,29.00,0.02957,0.00319,...,0.00,-1.00000,0.00000,0.40429,0.00000,0.00000,0.00000,0.0,47.4,0.357
859911,1609448400,2020-12-31 16:00,2020-12-31,16.0,132.60,2021-02-05,1612558800,36.00,0.89404,0.00052,...,0.00,-0.00890,0.00071,0.01041,-0.01168,-0.00147,0.80270,0.0,57.6,0.434
859912,1609448400,2020-12-31 16:00,2020-12-31,16.0,132.60,2023-03-17,1679083200,805.96,0.31599,0.00489,...,77.49,-0.67664,0.00406,0.66031,-0.01416,-2.39259,0.34749,4.0,67.4,0.508

In [14]:
aapl_df[' [QUOTE_DATE]']

0        2017-01-03
1        2017-01-03
2        2017-01-03
3        2017-01-03
4        2017-01-03
            ...
859908   2020-12-31
859909   2020-12-31
859910   2020-12-31
859911   2020-12-31
859912   2020-12-31
Name:  [QUOTE_DATE], Length: 859913, dtype: datetime64[ns]

`QUOTE DATE` will be converted into object when imported and have no whitespace however, we have to manually get rid of white space for `EXPIRE_DATE`

In [15]:
aapl_2017_df[' [EXPIRE_DATE]'] = aapl_2017_df[' [EXPIRE_DATE]'].str.strip()
aapl_2018_df[' [EXPIRE_DATE]'] = aapl_2018_df[' [EXPIRE_DATE]'].str.strip()
aapl_2019_df[' [EXPIRE_DATE]'] = aapl_2019_df[' [EXPIRE_DATE]'].str.strip()
aapl_2020_df[' [EXPIRE_DATE]'] = aapl_2020_df[' [EXPIRE_DATE]'].str.strip()
aapl_df[' [EXPIRE_DATE]'] = aapl_df[' [EXPIRE_DATE]'].str.strip()

In [16]:
aapl_2017_df.to_csv('aapl_2017_df.csv',index=False)
aapl_2018_df.to_csv('aapl_2018_df.csv',index=False)
aapl_2019_df.to_csv('aapl_2019_df.csv',index=False)
aapl_2020_df.to_csv('aapl_2020_df.csv',index=False)
aapl_df.to_csv('aapl_df.csv',index=False)