In [2]:
import pandas as pd

In [4]:
naked_put_sell_50_study_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\3. Option Studies\\naked_put_sell_50_study.csv')
naked_put_sell_dte_study_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\3. Option Studies\\naked_put_sell_dte_study.csv')
verticle_put_sell_50_study_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\3. Option Studies\\verticle_put_sell_50_study.csv')
verticle_put_sell_dte_study_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\3. Option Studies\\verticle_put_sell_dte_study.csv')
put_sell_study_dict = {'naked_50': naked_put_sell_50_study_df,
                       'naked_dte' : naked_put_sell_dte_study_df,
                       'verticle_50' : verticle_put_sell_50_study_df,
                       'verticle_dte' : verticle_put_sell_dte_study_df}

In [6]:
def profit(df):
    output = df.copy()
    for row in range(len(output)):
        if output['PROFIT'][row] < 0:
            output = output.drop(row)
    output = output.reset_index(drop=True)
    return output

In [7]:
profit(naked_put_sell_dte_study_df)

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,112.0,2017-01-03,116.14,38.00,2017-02-10,132.12,2017-02-10,1.995,0.005,99.749373,1.990
1,132.0,2017-02-14,134.93,44.96,2017-03-31,143.67,2017-03-31,1.720,0.000,100.000000,1.720
2,140.0,2017-04-04,144.75,45.00,2017-05-19,152.97,2017-05-19,2.315,0.005,99.784017,2.310
3,140.0,2017-07-10,145.08,39.00,2017-08-18,157.51,2017-08-18,2.465,0.005,99.797160,2.460
4,155.0,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,2.950,0.005,99.830508,2.945
5,150.0,2017-10-12,156.01,43.04,2017-11-24,174.97,2017-11-24,2.510,0.005,99.800797,2.505
6,167.5,2017-11-30,171.75,43.00,2018-01-12,177.09,2018-01-12,2.630,0.005,99.809886,2.625
7,170.0,2018-01-16,176.19,45.00,2018-03-02,176.21,2018-03-02,3.345,0.005,99.850523,3.340
8,170.0,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,2.910,0.005,99.828179,2.905
9,165.0,2018-04-19,172.80,43.00,2018-06-01,190.24,2018-06-01,3.210,0.005,99.844237,3.205
10,187.5,2018-06-12,192.28,45.00,2018-07-27,190.89,2018-07-27,2.620,0.005,99.809160,2.615
11,202.5,2018-08-03,208.00,42.00,2018-09-14,223.64,2018-09-14,2.900,0.005,99.827586,2.895
12,210.0,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,4.875,4.405,9.641026,0.470
13,146.0,2018-12-27,156.15,43.00,2019-02-08,170.41,2019-02-08,5.275,0.005,99.905213,5.270
14,165.0,2019-02-12,170.92,44.96,2019-03-29,190.00,2019-03-29,2.900,0.005,99.827586,2.895
15,190.0,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,4.170,1.195,71.342926,2.975
16,172.5,2019-05-23,179.72,43.00,2019-07-05,204.23,2019-07-05,4.645,0.000,100.000000,4.645
17,192.5,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,4.150,0.005,99.879518,4.145
18,200.0,2019-08-29,209.01,43.00,2019-10-11,236.21,2019-10-11,4.550,0.005,99.890110,4.545
19,225.0,2019-10-16,234.37,44.04,2019-11-29,267.25,2019-11-29,4.525,0.005,99.889503,4.520
20,250.0,2019-12-03,259.45,45.00,2020-01-17,318.73,2020-01-17,4.955,0.000,100.000000,4.955
21,267.5,2020-03-10,285.68,45.00,2020-04-24,282.97,2020-04-24,14.170,0.005,99.964714,14.165
22,277.5,2020-04-30,293.95,43.00,2020-06-12,338.53,2020-06-12,8.150,0.000,100.000000,8.150
23,332.5,2020-06-16,352.20,45.00,2020-07-31,425.50,2020-07-31,10.125,0.005,99.950617,10.120

In [8]:
profit_naked_put_sell_50_study_df = profit(naked_put_sell_50_study_df)
profit_naked_put_sell_dte_study_df = profit(naked_put_sell_dte_study_df)
profit_verticle_put_sell_50_study_df = profit(verticle_put_sell_50_study_df)
profit_verticle_put_sell_dte_study_df = profit(verticle_put_sell_dte_study_df)
profit_put_sell_study_dict = {'naked_50': profit_naked_put_sell_50_study_df,
                              'naked_dte' : profit_naked_put_sell_dte_study_df,
                              'verticle_50' : profit_verticle_put_sell_50_study_df,
                              'verticle_dte' : profit_verticle_put_sell_dte_study_df}

In [9]:
profit_put_sell_study_dict['naked_dte']

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,112.0,2017-01-03,116.14,38.00,2017-02-10,132.12,2017-02-10,1.995,0.005,99.749373,1.990
1,132.0,2017-02-14,134.93,44.96,2017-03-31,143.67,2017-03-31,1.720,0.000,100.000000,1.720
2,140.0,2017-04-04,144.75,45.00,2017-05-19,152.97,2017-05-19,2.315,0.005,99.784017,2.310
3,140.0,2017-07-10,145.08,39.00,2017-08-18,157.51,2017-08-18,2.465,0.005,99.797160,2.460
4,155.0,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,2.950,0.005,99.830508,2.945
5,150.0,2017-10-12,156.01,43.04,2017-11-24,174.97,2017-11-24,2.510,0.005,99.800797,2.505
6,167.5,2017-11-30,171.75,43.00,2018-01-12,177.09,2018-01-12,2.630,0.005,99.809886,2.625
7,170.0,2018-01-16,176.19,45.00,2018-03-02,176.21,2018-03-02,3.345,0.005,99.850523,3.340
8,170.0,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,2.910,0.005,99.828179,2.905
9,165.0,2018-04-19,172.80,43.00,2018-06-01,190.24,2018-06-01,3.210,0.005,99.844237,3.205
10,187.5,2018-06-12,192.28,45.00,2018-07-27,190.89,2018-07-27,2.620,0.005,99.809160,2.615
11,202.5,2018-08-03,208.00,42.00,2018-09-14,223.64,2018-09-14,2.900,0.005,99.827586,2.895
12,210.0,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,4.875,4.405,9.641026,0.470
13,146.0,2018-12-27,156.15,43.00,2019-02-08,170.41,2019-02-08,5.275,0.005,99.905213,5.270
14,165.0,2019-02-12,170.92,44.96,2019-03-29,190.00,2019-03-29,2.900,0.005,99.827586,2.895
15,190.0,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,4.170,1.195,71.342926,2.975
16,172.5,2019-05-23,179.72,43.00,2019-07-05,204.23,2019-07-05,4.645,0.000,100.000000,4.645
17,192.5,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,4.150,0.005,99.879518,4.145
18,200.0,2019-08-29,209.01,43.00,2019-10-11,236.21,2019-10-11,4.550,0.005,99.890110,4.545
19,225.0,2019-10-16,234.37,44.04,2019-11-29,267.25,2019-11-29,4.525,0.005,99.889503,4.520
20,250.0,2019-12-03,259.45,45.00,2020-01-17,318.73,2020-01-17,4.955,0.000,100.000000,4.955
21,267.5,2020-03-10,285.68,45.00,2020-04-24,282.97,2020-04-24,14.170,0.005,99.964714,14.165
22,277.5,2020-04-30,293.95,43.00,2020-06-12,338.53,2020-06-12,8.150,0.000,100.000000,8.150
23,332.5,2020-06-16,352.20,45.00,2020-07-31,425.50,2020-07-31,10.125,0.005,99.950617,10.120

In [10]:
def loss(df):
    output = df.copy()
    for row in range(len(output)):
        if output['PROFIT'][row] > 0:
            output.drop(row, inplace=True)
    output = output.reset_index(drop=True)
    return output

In [11]:
loss_naked_put_sell_50_study_df = loss(naked_put_sell_50_study_df)
loss_naked_put_sell_dte_study_df = loss(naked_put_sell_dte_study_df)
loss_verticle_put_sell_50_study_df = loss(verticle_put_sell_50_study_df)
loss_verticle_put_sell_dte_study_df = loss(verticle_put_sell_dte_study_df)
loss_put_sell_study_dict = {'naked_50': loss_naked_put_sell_50_study_df,
                              'naked_dte' : loss_naked_put_sell_dte_study_df,
                              'verticle_50' : loss_verticle_put_sell_50_study_df,
                              'verticle_dte' : loss_verticle_put_sell_dte_study_df}

In [12]:
print('''
Variables: put_sell_study_dict
           profit_put_sell_study_dict
           loss_put_sell_study_dict
''')

Variables: put_sell_study_dict
           profit_put_sell_study_dict
           loss_put_sell_study_dict