In [23]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [24]:
%run AnalysisHelperFile.ipynb

Variables: put_sell_study_dict
           profit_put_sell_study_dict
           loss_put_sell_study_dict

In [25]:
for study in put_sell_study_dict:
    print(study, '# of trades:', len(put_sell_study_dict[study]))

naked_50 # of trades: 71
naked_dte # of trades: 28
verticle_50 # of trades: 68
verticle_dte # of trades: 28

In [49]:
for study in put_sell_study_dict:
    print(study, 'average profit:', round(put_sell_study_dict[study]['PROFIT'].mean(), 2))

naked_50 average profit: 1.29
naked_dte average profit: 1.79
verticle_50 average profit: 0.42
verticle_dte average profit: 0.54

# Exit DTE
- has higher profit but lower trading count

# Exit 50% Profit
- has lower profit but higher trading count

## Is it worth waiting the time to receieve the other 50% of our profit?
Lets look at our `PROFIT ONLY` df of our naked_dte

In [50]:
aapl_put_df = pd.read_csv('C:\\Users\\bkim5\\EVERYTHING CODING\\PROJECT\\Options project\\2. Data Wrangling\\aapl_put_df.csv')

In [51]:
profit_put_sell_study_dict['naked_dte']

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,112.0,2017-01-03,116.14,38.00,2017-02-10,132.12,2017-02-10,1.995,0.005,99.749373,1.990
1,132.0,2017-02-14,134.93,44.96,2017-03-31,143.67,2017-03-31,1.720,0.000,100.000000,1.720
2,140.0,2017-04-04,144.75,45.00,2017-05-19,152.97,2017-05-19,2.315,0.005,99.784017,2.310
3,140.0,2017-07-10,145.08,39.00,2017-08-18,157.51,2017-08-18,2.465,0.005,99.797160,2.460
4,155.0,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,2.950,0.005,99.830508,2.945
5,150.0,2017-10-12,156.01,43.04,2017-11-24,174.97,2017-11-24,2.510,0.005,99.800797,2.505
6,167.5,2017-11-30,171.75,43.00,2018-01-12,177.09,2018-01-12,2.630,0.005,99.809886,2.625
7,170.0,2018-01-16,176.19,45.00,2018-03-02,176.21,2018-03-02,3.345,0.005,99.850523,3.340
8,170.0,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,2.910,0.005,99.828179,2.905
9,165.0,2018-04-19,172.80,43.00,2018-06-01,190.24,2018-06-01,3.210,0.005,99.844237,3.205
10,187.5,2018-06-12,192.28,45.00,2018-07-27,190.89,2018-07-27,2.620,0.005,99.809160,2.615
11,202.5,2018-08-03,208.00,42.00,2018-09-14,223.64,2018-09-14,2.900,0.005,99.827586,2.895
12,210.0,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,4.875,4.405,9.641026,0.470
13,146.0,2018-12-27,156.15,43.00,2019-02-08,170.41,2019-02-08,5.275,0.005,99.905213,5.270
14,165.0,2019-02-12,170.92,44.96,2019-03-29,190.00,2019-03-29,2.900,0.005,99.827586,2.895
15,190.0,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,4.170,1.195,71.342926,2.975
16,172.5,2019-05-23,179.72,43.00,2019-07-05,204.23,2019-07-05,4.645,0.000,100.000000,4.645
17,192.5,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,4.150,0.005,99.879518,4.145
18,200.0,2019-08-29,209.01,43.00,2019-10-11,236.21,2019-10-11,4.550,0.005,99.890110,4.545
19,225.0,2019-10-16,234.37,44.04,2019-11-29,267.25,2019-11-29,4.525,0.005,99.889503,4.520
20,250.0,2019-12-03,259.45,45.00,2020-01-17,318.73,2020-01-17,4.955,0.000,100.000000,4.955
21,267.5,2020-03-10,285.68,45.00,2020-04-24,282.97,2020-04-24,14.170,0.005,99.964714,14.165
22,277.5,2020-04-30,293.95,43.00,2020-06-12,338.53,2020-06-12,8.150,0.000,100.000000,8.150
23,332.5,2020-06-16,352.20,45.00,2020-07-31,425.50,2020-07-31,10.125,0.005,99.950617,10.120

Lets take a closer look at the very first trade we made

In [52]:
study_df = aapl_put_df.loc[(aapl_put_df['EXPIRE_DATE'] == '2017-02-10') & (aapl_put_df['STRIKE'] == 112) & (aapl_put_df['DTE'] <= 38)]
study_df = study_df.reset_index(drop=True)
study_df

,QUOTE_DATE,EXPIRE_DATE,LAST_PRICE,DTE,STRIKE,P_ASK,P_BID,P_DELTA,P_GAMMA,P_VEGA,P_THETA,P_VOLUME,P_IV,PROB_ITM
0,2017-01-03,2017-02-10,116.14,38.0,112.0,2.05,1.94,-0.32230,0.03916,0.13607,-0.04561,97.0,0.24077,32.230
1,2017-01-04,2017-02-10,116.02,37.0,112.0,1.84,1.71,-0.31363,0.04210,0.13286,-0.04202,23.0,0.22452,31.363
2,2017-01-05,2017-02-10,116.61,36.0,112.0,1.63,1.51,-0.28558,0.04015,0.12565,-0.04137,16.0,0.22845,28.558
3,2017-01-06,2017-02-10,117.91,35.0,112.0,1.28,1.18,-0.23842,0.03659,0.11420,-0.03857,90.0,0.22802,23.842
4,2017-01-09,2017-02-10,119.00,32.0,112.0,1.05,0.97,-0.20249,0.03236,0.10038,-0.03909,28.0,0.24298,20.249
5,2017-01-10,2017-02-10,119.11,31.0,112.0,0.99,0.93,-0.19590,0.03236,0.09768,-0.03857,45.0,0.24202,19.590
6,2017-01-11,2017-02-10,119.73,30.0,112.0,0.90,0.81,-0.17819,0.03023,0.09109,-0.03855,25.0,0.24701,17.819
7,2017-01-12,2017-02-10,119.25,29.0,112.0,0.98,0.83,-0.18853,0.03190,0.09226,-0.03978,33.0,0.24680,18.853
8,2017-01-13,2017-02-10,119.03,28.0,112.0,0.93,0.81,-0.18946,0.03336,0.09066,-0.04002,101.0,0.24099,18.946
9,2017-01-17,2017-02-10,119.99,24.0,112.0,0.82,0.65,-0.16084,0.02938,0.07630,-0.04271,25.0,0.26457,16.084
10,2017-01-18,2017-02-10,119.97,23.0,112.0,0.64,0.56,-0.14615,0.02959,0.07049,-0.03915,83.0,0.25168,14.615
11,2017-01-19,2017-02-10,119.77,22.0,112.0,0.70,0.62,-0.15516,0.03022,0.07193,-0.04263,36.0,0.26221,15.516
12,2017-01-20,2017-02-10,120.01,21.0,112.0,0.59,0.48,-0.13686,0.02937,0.06465,-0.03893,10.0,0.25326,13.686
13,2017-01-23,2017-02-10,120.09,18.0,112.0,0.52,0.46,-0.12893,0.02862,0.05778,-0.04248,40.0,0.26901,12.893
14,2017-01-24,2017-02-10,119.97,17.0,112.0,0.48,0.41,-0.12444,0.02900,0.05428,-0.04215,28.0,0.26451,12.444
15,2017-01-25,2017-02-10,121.92,16.0,112.0,0.29,0.24,-0.07881,0.02031,0.03845,-0.03204,50.0,0.27493,7.881
16,2017-01-26,2017-02-10,122.00,15.0,112.0,0.31,0.23,-0.07938,0.02030,0.03755,-0.03437,9.0,0.28442,7.938
17,2017-01-27,2017-02-10,121.72,14.0,112.0,0.28,0.18,-0.07443,0.02082,0.03482,-0.03346,21.0,0.27385,7.443
18,2017-01-30,2017-02-10,121.57,11.0,112.0,0.33,0.31,-0.09116,0.02224,0.03640,-0.05223,75.0,0.33398,9.116
19,2017-01-31,2017-02-10,121.30,10.0,112.0,0.33,0.31,-0.09372,0.02321,0.03551,-0.05636,0.0,0.34070,9.372
20,2017-02-01,2017-02-10,128.75,9.0,112.0,0.02,0.02,-0.00914,0.00330,0.00509,-0.00914,370.0,0.35673,0.914
21,2017-02-02,2017-02-10,128.53,8.0,112.0,0.03,0.01,-0.00925,0.00344,0.00497,-0.00938,2.0,0.36996,0.925
22,2017-02-03,2017-02-10,129.07,7.0,112.0,0.02,0.00,-0.00591,0.00247,0.00350,-0.00709,15.0,0.37853,0.591
23,2017-02-06,2017-02-10,130.29,4.0,112.0,0.01,0.00,-0.00203,0.00110,0.00095,-0.00361,558.0,0.45168,0.203
24,2017-02-07,2017-02-10,131.51,3.0,112.0,0.02,0.00,-0.00427,0.00148,0.00116,-0.00793,811.0,0.57086,0.427
25,2017-02-08,2017-02-10,132.04,2.0,112.0,0.03,0.00,-0.00427,0.00148,0.00156,-0.00896,340.0,0.66832,0.427
26,2017-02-09,2017-02-10,132.41,1.0,112.0,0.01,0.00,-0.00224,0.00084,0.00074,-0.00472,0.0,0.79821,0.224
27,2017-02-10,2017-02-10,132.12,0.0,112.0,0.01,0.00,-0.00178,0.00090,0.00096,-0.00489,0.0,1.11831,0.178

profit df analysis

In [15]:
def profit_df(df):
    p_mid_list = []
    for row in range(len(df)):
        p_mid = ((df['P_ASK'][row] + df['P_BID'][row]) / 2).round(2)
        p_mid_list.append(p_mid)

    amount_rec = p_mid_list[0]
    profit_list = []
    for pmid in p_mid_list:
        profit = (amount_rec - pmid).round(2)
        profit_list.append(profit)

    profit_perc_list = []
    for profit in profit_list:
        profit_perc = ((profit / p_mid_list[0]).round(2)) * 100
        profit_perc_list.append(profit_perc)
        
    output = df[['QUOTE_DATE', 'LAST_PRICE', 'DTE']]
    output = output.assign(P_MID = p_mid_list, PROFIT = profit_list, PROFIT_PERC = profit_perc_list)
    return output

In [16]:
profit_df(study_df)

    QUOTE_DATE  LAST_PRICE   DTE  P_MID  PROFIT  PROFIT_PERC
0   2017-01-03      116.14  38.0   2.00    0.00          0.0
1   2017-01-04      116.02  37.0   1.78    0.22         11.0
2   2017-01-05      116.61  36.0   1.57    0.43         22.0
3   2017-01-06      117.91  35.0   1.23    0.77         38.0
4   2017-01-09      119.00  32.0   1.01    0.99         50.0
5   2017-01-10      119.11  31.0   0.96    1.04         52.0
6   2017-01-11      119.73  30.0   0.86    1.14         57.0
7   2017-01-12      119.25  29.0   0.90    1.10         55.0
8   2017-01-13      119.03  28.0   0.87    1.13         56.0
9   2017-01-17      119.99  24.0   0.74    1.26         63.0
10  2017-01-18      119.97  23.0   0.60    1.40         70.0
11  2017-01-19      119.77  22.0   0.66    1.34         67.0
12  2017-01-20      120.01  21.0   0.53    1.47         74.0
13  2017-01-23      120.09  18.0   0.49    1.51         76.0
14  2017-01-24      119.97  17.0   0.44    1.56         78.0
15  2017-01-25      121.92  16.0   0.26    1.74         87.0
16  2017-01-26      122.00  15.0   0.27    1.73         86.0
17  2017-01-27      121.72  14.0   0.23    1.77         88.0
18  2017-01-30      121.57  11.0   0.32    1.68         84.0
19  2017-01-31      121.30  10.0   0.32    1.68         84.0
20  2017-02-01      128.75   9.0   0.02    1.98         99.0
21  2017-02-02      128.53   8.0   0.02    1.98         99.0
22  2017-02-03      129.07   7.0   0.01    1.99        100.0
23  2017-02-06      130.29   4.0   0.00    2.00        100.0
24  2017-02-07      131.51   3.0   0.01    1.99        100.0
25  2017-02-08      132.04   2.0   0.02    1.98         99.0
26  2017-02-09      132.41   1.0   0.00    2.00        100.0
27  2017-02-10      132.12   0.0   0.00    2.00        100.0

In this situation, we could have gotten out of this trade and moved on at `2017-01-09` which is only 6 days after our entry date.

Because this trade will held till DTE, it took more a month for it to gain another 50% of the profit.

Even worse, at `2017-02-01` our profit was at 99% and we waited 9 days to get the last 1% of our trade.

- If we divide the length of our trade and if the profit target of 50% has been reached before the half mark, we should move on with another trade because
    - It is not worth waiting time to get another 50% of our profit
    - Possibility of turning a winning trade into a losing trade. Lock in the winning trade and move on
 
# How many trades did we hit the 50% profit mark before the half mark?

In [17]:
profit_put_sell_study_dict['naked_dte']

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,112.0,2017-01-03,116.14,38.00,2017-02-10,132.12,2017-02-10,1.995,0.005,99.749373,1.990
1,132.0,2017-02-14,134.93,44.96,2017-03-31,143.67,2017-03-31,1.720,0.000,100.000000,1.720
2,140.0,2017-04-04,144.75,45.00,2017-05-19,152.97,2017-05-19,2.315,0.005,99.784017,2.310
3,140.0,2017-07-10,145.08,39.00,2017-08-18,157.51,2017-08-18,2.465,0.005,99.797160,2.460
4,155.0,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,2.950,0.005,99.830508,2.945
5,150.0,2017-10-12,156.01,43.04,2017-11-24,174.97,2017-11-24,2.510,0.005,99.800797,2.505
6,167.5,2017-11-30,171.75,43.00,2018-01-12,177.09,2018-01-12,2.630,0.005,99.809886,2.625
7,170.0,2018-01-16,176.19,45.00,2018-03-02,176.21,2018-03-02,3.345,0.005,99.850523,3.340
8,170.0,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,2.910,0.005,99.828179,2.905
9,165.0,2018-04-19,172.80,43.00,2018-06-01,190.24,2018-06-01,3.210,0.005,99.844237,3.205
10,187.5,2018-06-12,192.28,45.00,2018-07-27,190.89,2018-07-27,2.620,0.005,99.809160,2.615
11,202.5,2018-08-03,208.00,42.00,2018-09-14,223.64,2018-09-14,2.900,0.005,99.827586,2.895
12,210.0,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,4.875,4.405,9.641026,0.470
13,146.0,2018-12-27,156.15,43.00,2019-02-08,170.41,2019-02-08,5.275,0.005,99.905213,5.270
14,165.0,2019-02-12,170.92,44.96,2019-03-29,190.00,2019-03-29,2.900,0.005,99.827586,2.895
15,190.0,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,4.170,1.195,71.342926,2.975
16,172.5,2019-05-23,179.72,43.00,2019-07-05,204.23,2019-07-05,4.645,0.000,100.000000,4.645
17,192.5,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,4.150,0.005,99.879518,4.145
18,200.0,2019-08-29,209.01,43.00,2019-10-11,236.21,2019-10-11,4.550,0.005,99.890110,4.545
19,225.0,2019-10-16,234.37,44.04,2019-11-29,267.25,2019-11-29,4.525,0.005,99.889503,4.520
20,250.0,2019-12-03,259.45,45.00,2020-01-17,318.73,2020-01-17,4.955,0.000,100.000000,4.955
21,267.5,2020-03-10,285.68,45.00,2020-04-24,282.97,2020-04-24,14.170,0.005,99.964714,14.165
22,277.5,2020-04-30,293.95,43.00,2020-06-12,338.53,2020-06-12,8.150,0.000,100.000000,8.150
23,332.5,2020-06-16,352.20,45.00,2020-07-31,425.50,2020-07-31,10.125,0.005,99.950617,10.120

In [53]:
before_50_date = []
for contract in range(len(profit_put_sell_study_dict['naked_dte'])):
    my_trade_expire = profit_put_sell_study_dict['naked_dte']['EXPIRE_DATE'][contract]
    my_trade_strike = profit_put_sell_study_dict['naked_dte']['STRIKE'][contract]
    my_trade_dte = profit_put_sell_study_dict['naked_dte']['DTE'][contract]
    
    each_trade = aapl_put_df.loc[(aapl_put_df['EXPIRE_DATE'] == my_trade_expire) & (aapl_put_df['STRIKE'] == my_trade_strike) & (aapl_put_df['DTE'] <= my_trade_dte)]
    each_trade = each_trade.reset_index(drop=True)
    transformed_df = profit_df(each_trade)
    half_mark = round(len(each_trade) / 2)
    
    for row in range(len(transformed_df)):
        if (row <= half_mark and transformed_df['PROFIT_PERC'][row] >= 50):
            before_50_date.append(transformed_df['QUOTE_DATE'][0])
            break
            
after_50_df = pd.DataFrame()
before_50_df = pd.DataFrame()
for date in profit_put_sell_study_dict['naked_dte']['TRADE_DATE']:
    if date in before_50_date:
        before_50_df = pd.concat([before_50_df, profit_put_sell_study_dict['naked_dte'].loc[profit_put_sell_study_dict['naked_dte']['TRADE_DATE'] == date]])
        before_50_df = before_50_df.reset_index(drop=True)
    else:
        after_50_df = pd.concat([after_50_df, profit_put_sell_study_dict['naked_dte'].loc[profit_put_sell_study_dict['naked_dte']['TRADE_DATE'] == date]])
        after_50_df = after_50_df.reset_index(drop=True)

In [54]:
before_50_df

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,112.0,2017-01-03,116.14,38.00,2017-02-10,132.12,2017-02-10,1.995,0.005,99.749373,1.990
1,132.0,2017-02-14,134.93,44.96,2017-03-31,143.67,2017-03-31,1.720,0.000,100.000000,1.720
2,140.0,2017-07-10,145.08,39.00,2017-08-18,157.51,2017-08-18,2.465,0.005,99.797160,2.460
3,155.0,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,2.950,0.005,99.830508,2.945
4,150.0,2017-10-12,156.01,43.04,2017-11-24,174.97,2017-11-24,2.510,0.005,99.800797,2.505
5,167.5,2017-11-30,171.75,43.00,2018-01-12,177.09,2018-01-12,2.630,0.005,99.809886,2.625
6,170.0,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,2.910,0.005,99.828179,2.905
7,165.0,2018-04-19,172.80,43.00,2018-06-01,190.24,2018-06-01,3.210,0.005,99.844237,3.205
8,202.5,2018-08-03,208.00,42.00,2018-09-14,223.64,2018-09-14,2.900,0.005,99.827586,2.895
9,210.0,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,4.875,4.405,9.641026,0.470
10,146.0,2018-12-27,156.15,43.00,2019-02-08,170.41,2019-02-08,5.275,0.005,99.905213,5.270
11,165.0,2019-02-12,170.92,44.96,2019-03-29,190.00,2019-03-29,2.900,0.005,99.827586,2.895
12,190.0,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,4.170,1.195,71.342926,2.975
13,172.5,2019-05-23,179.72,43.00,2019-07-05,204.23,2019-07-05,4.645,0.000,100.000000,4.645
14,192.5,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,4.150,0.005,99.879518,4.145
15,200.0,2019-08-29,209.01,43.00,2019-10-11,236.21,2019-10-11,4.550,0.005,99.890110,4.545
16,225.0,2019-10-16,234.37,44.04,2019-11-29,267.25,2019-11-29,4.525,0.005,99.889503,4.520
17,250.0,2019-12-03,259.45,45.00,2020-01-17,318.73,2020-01-17,4.955,0.000,100.000000,4.955
18,277.5,2020-04-30,293.95,43.00,2020-06-12,338.53,2020-06-12,8.150,0.000,100.000000,8.150
19,332.5,2020-06-16,352.20,45.00,2020-07-31,425.50,2020-07-31,10.125,0.005,99.950617,10.120

In [55]:
after_50_df

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,140.0,2017-04-04,144.75,45.0,2017-05-19,152.97,2017-05-19,2.315,0.005,99.784017,2.310
1,170.0,2018-01-16,176.19,45.0,2018-03-02,176.21,2018-03-02,3.345,0.005,99.850523,3.340
2,187.5,2018-06-12,192.28,45.0,2018-07-27,190.89,2018-07-27,2.620,0.005,99.809160,2.615
3,267.5,2020-03-10,285.68,45.0,2020-04-24,282.97,2020-04-24,14.170,0.005,99.964714,14.165

example of how trade might take more than half mark to get to 50% profit

In [56]:
example = aapl_put_df.loc[(aapl_put_df['EXPIRE_DATE'] == '2017-05-19') & (aapl_put_df['STRIKE'] == 140) & (aapl_put_df['DTE'] <= 45)]
example = example.reset_index(drop=True)
example_df = profit_df(example)
example_df

    QUOTE_DATE  LAST_PRICE   DTE  P_MID  PROFIT  PROFIT_PERC
0   2017-04-04      144.75  45.0   2.32    0.00          0.0
1   2017-04-05      144.00  44.0   2.50   -0.18         -8.0
2   2017-04-06      143.67  43.0   2.54   -0.22         -9.0
3   2017-04-07      143.34  42.0   2.57   -0.25        -11.0
4   2017-04-10      143.16  39.0   2.58   -0.26        -11.0
5   2017-04-11      141.62  38.0   3.22   -0.90        -39.0
6   2017-04-12      141.79  37.0   3.10   -0.78        -34.0
7   2017-04-13      141.07  36.0   3.20   -0.88        -38.0
8   2017-04-17      141.83  32.0   2.80   -0.48        -21.0
9   2017-04-18      141.11  31.0   2.96   -0.64        -28.0
10  2017-04-19      140.66  30.0   3.10   -0.78        -34.0
11  2017-04-20      142.44  29.0   2.28    0.04          2.0
12  2017-04-21      142.27  28.0   2.42   -0.10         -4.0
13  2017-04-24      143.63  25.0   1.76    0.56         24.0
14  2017-04-25      144.53  24.0   1.42    0.90         39.0
15  2017-04-26      143.62  23.0   1.86    0.46         20.0
16  2017-04-27      143.79  22.0   1.76    0.56         24.0
17  2017-04-28      143.68  21.0   1.69    0.63         27.0
18  2017-05-01      146.56  18.0   0.90    1.42         61.0
19  2017-05-02      147.46  17.0   0.78    1.54         66.0
20  2017-05-03      147.04  16.0   0.28    2.04         88.0
21  2017-05-04      146.54  15.0   0.22    2.10         91.0
22  2017-05-05      148.96  14.0   0.16    2.16         93.0
23  2017-05-08      153.01  11.0   0.06    2.26         97.0
24  2017-05-09      153.97  10.0   0.06    2.26         97.0
25  2017-05-10      153.26   9.0   0.08    2.24         97.0
26  2017-05-11      153.95   8.0   0.04    2.28         98.0
27  2017-05-12      156.10   7.0   0.04    2.28         98.0
28  2017-05-15      155.68   4.0   0.02    2.30         99.0
29  2017-05-16      155.40   3.0   0.00    2.32        100.0
30  2017-05-17      150.19   2.0   0.09    2.23         96.0
31  2017-05-18      152.53   1.0   0.02    2.30         99.0
32  2017-05-19      152.97   0.0   0.00    2.32        100.0

Out of the 24 trades that were PROFIT
- 20 of them hit the 50% profit mark before the half mark
- only 4 of the trades hit 50% profit after half mark.

# TAKEAWAY
Exit at 50% profit
- Gives us a chance to lock in our profit and move onto the next trade
- As soon as it hit our profit mark, we can exit the trade letting us trade other options
- Most of the trades hit the 50% mark before the half mark so its a wise choice to leave early rather than waiting time to recieve the other 50%

Exit at DTE
- Should `CONSIDER` using when our 50% profit mark hasnt been reached before the half mark
    - After the halfmark, it is traders option to stay in or exit the trade
- Not efficent to wait long period of time to get the full profit