In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt

In [2]:
%run AnalysisHelperFile.ipynb

Variables: put_sell_study_dict
           profit_put_sell_study_dict
           loss_put_sell_study_dict

# Naked vs Vertical

In [20]:
for study in profit_put_sell_study_dict:
    average_profit = (profit_put_sell_study_dict[study]['PROFIT'].sum() / len(profit_put_sell_study_dict[study]))
    print(study, 'profit:', round(average_profit,2))

naked_50 profit: 2.43
naked_dte profit: 4.1
verticle_50 profit: 1.1
verticle_dte profit: 1.77

In [21]:
for study in loss_put_sell_study_dict:
    average_loss = (loss_put_sell_study_dict[study]['PROFIT'].sum() / len(loss_put_sell_study_dict[study]))
    print(study, 'loss:', round(average_loss,2))

naked_50 loss: -13.82
naked_dte loss: -12.08
verticle_50 loss: -5.53
verticle_dte loss: -5.11

In [22]:
for study in put_sell_study_dict:
    print(study, 'profit:', round(put_sell_study_dict[study]['PROFIT'].sum(),2))

naked_50 profit: 91.43
naked_dte profit: 50.06
verticle_50 profit: 28.35
verticle_dte profit: 15.15

# Why did naked_50 had the highest profit overall?
- naked_50 is a high risk high reward play because you are not sacrificing your profit to buy insurance.
- because naked trades have unlimited risk, when the stock decrease, your naked option will also decrease unlimitly
- In this situation, for the past 3 years, the market was bullish and helped naked position.
- Lets simulate a bearish market by only collecting data when the stock price when down

In [6]:
def bear_df(df):
    output_df = pd.DataFrame()
    for row in range(len(df)):
        if (df['TRADE_LAST_PRICE'][row] > df['EXIT_LAST_PRICE'][row]):
            output_df = pd.concat([output_df, df.iloc[[row]]])
            output_df = output_df.reset_index(drop=True)
    return output_df

In [7]:
naked_50_bear = bear_df(put_sell_study_dict['naked_50'])
naked_50_bear

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,142.00,2017-06-13,146.59,45.00,2017-07-11,145.55,2017-07-28,2.165,0.855,60.508083,1.310
1,155.00,2017-09-07,161.27,43.00,2017-10-09,155.82,2017-10-20,2.655,1.285,51.600753,1.370
2,170.00,2017-11-08,176.22,44.00,2017-12-11,172.67,2017-12-22,2.410,1.110,53.941909,1.300
3,167.50,2018-01-09,174.33,45.00,2018-02-15,172.99,2018-02-23,2.945,0.660,77.589134,2.285
4,175.00,2018-03-13,179.97,45.00,2018-04-17,178.24,2018-04-27,3.125,1.025,67.200000,2.100
5,187.50,2018-06-12,192.28,45.00,2018-07-13,191.33,2018-07-27,2.620,1.005,61.641221,1.615
6,217.50,2018-09-28,225.77,42.04,2018-11-09,204.47,2018-11-09,4.180,13.125,-213.995215,-8.945
7,185.00,2018-11-13,192.23,45.00,2018-12-28,156.23,2018-12-28,4.470,28.700,-542.058166,-24.230
8,150.00,2019-01-02,157.92,44.00,2019-01-25,157.70,2019-02-15,5.200,2.335,55.096154,2.865
9,202.50,2019-05-02,209.17,43.00,2019-06-14,192.74,2019-06-14,3.320,8.850,-166.566265,-5.530
10,312.50,2020-01-30,323.87,42.96,2020-03-13,278.06,2020-03-13,6.245,35.130,-462.530024,-28.885
11,126.25,2020-09-01,134.22,45.00,2020-10-16,118.96,2020-10-16,5.595,7.100,-26.899017,-1.505

In [8]:
vertical_50_bear = bear_df(put_sell_study_dict['verticle_50'])
vertical_50_bear

,SOLD_STRIKE,BOUGHT_STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_RISKED,AMOUNT_BUYBACK,PROFIT,PROFIT_PERCENT
0,139.00,132.0,2017-03-30,143.92,43.00,2017-03-31,143.67,2017-05-12,1.59,7.00,0.69,0.90,56.603774
1,155.00,145.0,2017-09-07,161.27,43.00,2017-10-11,156.54,2017-10-20,1.80,10.00,0.85,0.95,52.777778
2,170.00,160.0,2017-11-08,176.22,44.00,2017-12-13,172.27,2017-12-22,1.71,10.00,0.78,0.93,54.385965
3,170.00,165.0,2017-12-21,175.01,43.00,2018-02-02,160.23,2018-02-02,1.34,5.00,5.00,-3.66,-273.134328
4,175.00,170.0,2018-03-13,179.97,45.00,2018-04-27,162.32,2018-04-27,1.23,5.00,5.00,-3.77,-306.504065
5,187.50,177.5,2018-06-12,192.28,45.00,2018-07-13,191.33,2018-07-27,1.81,10.00,0.84,0.97,53.591160
6,217.50,207.5,2018-09-28,225.77,42.04,2018-11-09,204.47,2018-11-09,2.24,10.00,10.00,-7.76,-346.428571
7,185.00,175.0,2018-11-13,192.23,45.00,2018-12-28,156.23,2018-12-28,2.32,10.00,9.60,-7.28,-313.793103
8,202.50,192.5,2019-05-02,209.17,43.00,2019-06-14,192.74,2019-06-14,2.05,10.00,8.83,-6.78,-330.731707
9,312.50,305.0,2020-01-30,323.87,42.96,2020-03-13,278.06,2020-03-13,2.01,7.50,7.35,-5.34,-265.671642
10,230.00,220.0,2020-03-17,252.81,45.00,2020-03-18,249.00,2020-05-01,3.16,10.00,1.47,1.69,53.481013
11,126.25,120.0,2020-09-01,134.22,45.00,2020-10-16,118.96,2020-10-16,2.03,6.25,6.18,-4.15,-204.433498

In [9]:
naked_dte_bear = bear_df(put_sell_study_dict['naked_dte'])
naked_dte_bear

,STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_BUYBACK,PROFIT_PERCENT,PROFIT
0,150.00,2017-05-25,153.91,43.00,2017-07-07,144.17,2017-07-07,1.915,5.800,-202.872063,-3.885
1,155.00,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,2.950,0.005,99.830508,2.945
2,170.00,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,2.910,0.005,99.828179,2.905
3,187.50,2018-06-12,192.28,45.00,2018-07-27,190.89,2018-07-27,2.620,0.005,99.809160,2.615
4,210.00,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,4.875,4.405,9.641026,0.470
5,195.00,2018-11-06,203.78,44.00,2018-12-20,156.84,2018-12-20,4.280,37.830,-783.878505,-33.550
6,190.00,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,4.170,1.195,71.342926,2.975
7,192.50,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,4.150,0.005,99.879518,4.145
8,305.00,2020-01-23,319.29,43.00,2020-03-06,289.06,2020-03-06,6.155,15.520,-152.152721,-9.365
9,267.50,2020-03-10,285.68,45.00,2020-04-24,282.97,2020-04-24,14.170,0.005,99.964714,14.165
10,126.25,2020-09-01,134.22,45.00,2020-10-16,118.96,2020-10-16,5.595,7.100,-26.899017,-1.505

In [10]:
vertical_dte_bear = bear_df(put_sell_study_dict['verticle_dte'])
vertical_dte_bear

,SOLD_STRIKE,BOUGHT_STRIKE,TRADE_DATE,TRADE_LAST_PRICE,DTE,EXIT_DATE,EXIT_LAST_PRICE,EXPIRE_DATE,AMOUNT_REC,AMOUNT_RISKED,AMOUNT_BUYBACK,PROFIT,PROFIT_PERCENT
0,150.00,141.0,2017-05-25,153.91,43.00,2017-07-07,144.17,2017-07-07,1.50,9.00,5.80,-4.30,-286.666667
1,155.00,146.0,2017-08-25,159.86,42.00,2017-10-06,155.29,2017-10-06,1.84,9.00,0.00,1.84,100.000000
2,170.00,165.0,2018-03-02,176.21,41.96,2018-04-13,174.73,2018-04-13,1.17,5.00,0.00,1.17,100.000000
3,187.50,177.5,2018-06-12,192.28,45.00,2018-07-27,190.89,2018-07-27,1.81,10.00,0.00,1.81,100.000000
4,210.00,200.0,2018-09-18,218.29,45.00,2018-11-02,206.67,2018-11-02,2.33,10.00,4.40,-2.07,-88.841202
5,195.00,185.0,2018-11-06,203.78,44.00,2018-12-20,156.84,2018-12-20,2.19,10.00,9.71,-7.52,-343.378995
6,190.00,180.0,2019-04-05,197.00,42.00,2019-05-16,190.07,2019-05-17,2.34,10.00,1.14,1.20,51.282051
7,192.50,185.0,2019-07-09,201.24,45.00,2019-08-23,201.00,2019-08-23,1.77,7.50,0.00,1.77,100.000000
8,305.00,295.0,2020-01-23,319.29,43.00,2020-03-06,289.06,2020-03-06,2.49,10.00,10.00,-7.51,-301.606426
9,267.50,260.0,2020-03-10,285.68,45.00,2020-04-24,282.97,2020-04-24,2.19,7.50,0.00,2.19,100.000000
10,126.25,120.0,2020-09-01,134.22,45.00,2020-10-16,118.96,2020-10-16,2.03,6.25,6.18,-4.15,-204.433498

## Bull market

In [16]:
for study in put_sell_study_dict:
    print(study, 'profit:', round(put_sell_study_dict[study]['PROFIT'].sum(),2))

naked_50 profit: 91.43
naked_dte profit: 50.06
verticle_50 profit: 28.35
verticle_dte profit: 15.15

## Bear market

In [15]:
print('naked_50 overall profit:', round(naked_50_bear['PROFIT'].sum(),2))
print('naked_dte overall profit:', round(naked_dte_bear['PROFIT'].sum(),2))
print('vertical_50 overall profit:', round(vertical_50_bear['PROFIT'].sum(),2))
print('vertical_dte overall profit:', round(vertical_dte_bear['PROFIT'].sum(),2))

naked_50 overall profit: -56.25
naked_dte overall profit: -18.09
vertical_50 overall profit: -33.3
vertical_dte overall profit: -15.57

In a bearish market, naked trades have extreme losses while vertical trades have mitigated the loss due to its insurance

# Takeaway
Vertical
- Vertical trades are considerd `safe` because you are protected against extreme down movement.
    - You are sacrificing some of your profit to buy this insurance
    
    - Vertical should be used if you are unsure of the stock direction and want a protection
    
Naked
- Naked trades are considered `dangerous` because you are unprotected against extreme down movement.
    - You are not buying any insurance for your option position so you are getting the full profit
    
    - Naked should be used if you are confident that stock direction will go your way.
    
There is no way people can predict the direction of a market. For that reason, Vertical trades are optimal for most traders and Naked for people who are able to take lots of risk.